{% extends "auctions/layout.html" %}

{% block body %}
<h1>All Listings</h1>
<div class="container-fluid">
	<div class="row">
    {% for listing in listings %}
			<div class="card col-lg-4 col-sm">
				<div class="card-body">
				<a class="nav-link card-title" href="/{{ listing.id }}"> {{ listing.title }} </a>
				{% if listing.image %}
					<img class="img-fluid" src="{{ listing.image.url }}" alt="{{ listing.title }}" style="max-height:300px">
				{% endif %}
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><strong>{{ listing.description }}</strong></li>
					{% if listing.closed == False %}
						{% if listing.items.last.bid > listing.starting_price %}
						<li class="list-group-item">Current high bid is {{ listing.items.last.bid }}</li>
						{% else %}
						<li class="list-group-item">Starting price is {{ listing.starting_price }}</li>
						{% endif %}
					{% else %} 
						<li class="list-group-item">Listing closed! </li>
					{% endif %}
				</ul>
				</div>
				<div class="card-footer text-muted">
					Started on: {{ listing.date }}
				</div>
			</div>
			{% endfor %} 
    </div>
</div>
{% endblock %}