{% extends "auctions/layout.html" %}

{% block body %}
	<h1> {{ listing.title }} </h1>
	<p> {{listing.description }} </p>
	{% if listing.image %}
		<div>
			<img src="{{ listing.image.url }}" alt="{{ listing.title }}">
		</div>
	{% endif %}
	{% if user.winner == listing %}
		<h2> You won! </h2>
	{% else %}
		{% if listing in watching %}
		<form action ="/{{ listing.id }}" method="post">
			{% csrf_token %}
			<input type="submit" name="remove" value="Remove from watchlist"/>
		</form>
		{% else %}
		<form action ="/{{ listing.id }}" method="post">
			{% csrf_token %}
			<input type="submit" name="add" value="Add to watchlist"/>
		</form>
		{% endif %}
		{% if user.owner == listing %}
		<form action ="/{{ listing.id }}" method="post">
			{% csrf_token %}
			<input type="submit" name="close" value="Close listing"/>
		</form>
		{% endif %}
		{% if price > listing.starting_price %}
			Current high bid is {{ price }}
		{% else %}
			Starting price is {{ listing.starting_price }}
		{% endif %}
			<form action="/{{ listing.id }}" id="bid" method="post">
				{% csrf_token %}
				{{ bid }}
			</form>
		<button type="submit" form="bid"> Bid</button>
	{% endif %}
	<form action="/{{ listing.id }}" id="comment" method="post">
		{% csrf_token %}
		<textarea form="comment" id="content" name="content" rows="4" cols="50" placeholder="Enter comment here..."></textarea><br>
    <button type="submit" form="comment">Submit</button>
	</form>
	{% for comment in comments %}
	<div>
		{{ comment.comments }}
	</div>
	{% endfor %}
	
{% endblock %}